<style>
    body{margin-top:20px;}
.avatar{
width:150px;
height:100px;

}



/* CSS */
#button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.body {
  background-color: whitesmoke;
}
</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body class="body">
  <div class="container bootstrap snippets bootdey">



    <h1 class="text-primary">Edit Profile</h1>
      <hr>

  <div class="row">


<form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
            <!-- left column -->
            <div class="col-md-3">
              <div class="text-center">
                <img src="{{request.user.avatar.url}}" class="avatar img-circle img-thumbnail" alt="avatar" width="400">
                <h6>Upload a different photo...</h6>

                  {{form.avatar}}
                  <h6>Describe Yourself</h6>
                  {{form.bio}}

   
              </div>
            </div>
            
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
              <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert"></a> 
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
              </div>
              <h3>Personal info: </h3>
              
              <div class="form-horizontal" role="form">
                {%  csrf_token%}
                <div class="form-group">
                  <label class="col-lg-3 control-label">Username:</label>
                  <div class="col-lg-8">
                    {{form.username}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-8">
                    {{form.email}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">First name:*</label>
                  <div class="col-lg-8">
                    {{form.name}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Last name:*</label>
                  <div class="col-lg-8">
                    {{form.last_name}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Gender:*</label>
                  <div class="col-lg-8" >
                    {{form.gender}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Birthday:*</label>
                  <div class="col-lg-8" >
                    {{form.fb_url}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Hobby:*</label>
                  <div class="col-lg-8" >
                    {{form.insta_url}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">One Word to yourself:*</label>
                  <div class="col-lg-8" >
                    {{form.twitter_url}}
                  </div>
                </div>
          
                <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8" >
                  <button class="submit" id="button-34">Submit</button>
                  <a href="/login/home-login">Cancel</a>
                </div>
               
              </div>
          
            </div>
  
    </div>
       </div>


</form>
<hr>


  
</body>
      