{% extends 'videoapp.html'%}
{% load static %}
{% block content %}
<style>
    

</style>
<h1>Under Maintenance! Come Back Later</h1>
<!-- <main>
    <section id = "room-name-wrapper">
        <p>Room Name:<span id="room-name"></span></p>
    </section>
    <section id= "video-streams"></section>
    <section id = "controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id = "mic-btn" src="{% static  'style/images/mic.png'%}">
        </div>
        <div class="icon-wrapper">
            <img class="control-icon" id = "camera-btn" src="{% static  'style/images/video.png'%}">
        </div>
        <div class="icon-wrapper">
            <img class="control-icon" id = "leave-btn" src="{% static  'style/images/leave.jpg'%}">
        </div>
    </section>
</main>
<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.11.0.js' %}"></script>
<script type="text/javascript" src="{% static  'js/streams.js' %}">


</script> -->
{% endblock content %}